{{define "frontend.auth.register"}}

{{template "frontend.layout.header" .}}

{{template "frontend.layout.nav" .}}

{{template "frontend.layout.msg" .}}
<div class="container-fluid">
    <div class="m-auto mt-4 box">
        <div class="content">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="card text-black">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="h5 fw-bold mb-4 mx-1 mx-md-4 mt-4 text-dark">用户注册</p>
                                    <form class="mx-1 mx-md-4" action="/register" method="post">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" class="form-control" placeholder="用户名" name="name"/>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <select class="form-control" name="gender">
                                                    <option value="0">请选择性别</option>
                                                    <option value="1" selected>男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" class="form-control" placeholder="登录密码"
                                                       name="password"/>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" class="form-control" placeholder="确认密码"
                                                       name="confirm_password"/>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <button type="submit" class="btn btn-dark col-12">
                                                提交
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img src="/assets/static/frontend/img/bg.png"
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "frontend.layout.footer" .}}
{{end}}