body {
    background-color: #f0f2f5
}

.box {
    width: 1200px
}

.content {
    margin-bottom: 100px;
    border-radius: 4px
}

.left-content {
    width: 860px;
    display: inline-block;
    vertical-align: top
}

.right-content {
    width: 300px;
    display: inline-block;
    margin-left: 35px;
    vertical-align: top
}

.topic-detail img {
    max-width: 100%;
    border-radius: 4px
}

.header {
    border-top: 4px #212529 solid !important;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(101 129 156 / 8%)
}

.topic-detail pre {
    border-radius: 4px
}

.CodeMirror-linenumbers {
    width: 0 !important;
    padding: 0 !important
}

.comment-content img {
    max-width: 10rem !important;
    border-radius: 2px
}

.comment-content pre {
    width: 700px;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 4px
}

.notice-nav {
    width: 280px;
    display: inline-block;
    vertical-align: top
}

.notice-content {
    width: 895px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px
}

.like-btn:hover {
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer
}

.operator-btn {
    display: inline-block;
    text-align: center;
    width: 28px;
}
.operator-btn:hover {
    padding: 4px;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

.form-control-dark {
    border-color: var(--bs-gray)
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25)
}

.text-small {
    font-size: 85%
}

.dropdown-toggle {
    outline: 0
}

.topic-detail blockquote {
    background-color: #f5f8fc;
    border-left: none;
    color: #8796a8;
    padding: 10px
}

.comment-content blockquote {
    background-color: #f5f8fc;
    border-left: none;
    color: #8796a8;
    padding: 10px
}

.topic-detail table {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 2px
}

.topic-detail th {
    border: 1px solid #ccc
}

.topic-detail td {
    border: 1px solid #ccc
}

.topic-detail tr {
    border: 1px solid #ccc
}

.comment-content table {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 2px
}

.comment-content th {
    border: 1px solid #ccc
}

.comment-content td {
    border: 1px solid #ccc
}

.comment-content tr {
    border: 1px solid #ccc
}