{{define "frontend.layout.footer"}}
<!--<footer class="d-flex flex-wrap justify-content-between align-items-center border-top bg-white p-4">-->
<!--    <p class="col-md-4 mb-0 text-muted">© 2022 简单社区</p>-->
<!--    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">-->
<!--        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--    </a>-->
<!--    <ul class="nav col-md-4 justify-content-end">-->
<!--        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">首页</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">特性</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">价格</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">问答</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">关于</a></li>-->
<!--    </ul>-->
<!--</footer>-->
</main>
<script src="/a/f/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{{end}}