{{define "frontend.layout.header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>酷社区 {{.title}} </title>
    <link rel="icon" href="/assets/static/frontend/img/logo.png">
    <link href="/assets/static/frontend/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/static/frontend/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/static/frontend/css/common.css" rel="stylesheet">
    <link href="/assets/static/editor/editormd.min.css" rel="stylesheet"/>
    <link href="/assets/static/frontend/css/papercolor-light.min.css" rel="stylesheet"/>
</head>
<body>
{{end}}